/* main color #212121
additional color #757575; #fff; #F5F4FA; rgba(255, 255, 255, 0.6)
logo #000
bg #fff; #2F303A;
accent color #2196F3 */

:root{
    --main-color: #212121;
    --add-color-1: #757575;
    --add-color-2: #fff;
    --add-color-3: #F5F4FA;
    --add-color-4: rgba(255, 255, 255, 0.6);
    --logo-color: #000;
    --main-bg-color: #fff;
    --add-bg-color: #2F303A;
    --accent-color: #2196F3;
    --header-border: #ECECEC;
    --border-color: #EEEEEE;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
button{
cursor: pointer;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  Common header */

header{
    border-bottom: 1px solid var(--header-border);
}
.navigation{
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 24px 93px 25px 0;
    align-items: center;
}
.logo_span{
    color: var(--accent-color);
}
.menu{
    display: flex;
    column-gap: 50px;
}
.menu_item:not(:last-child){
    column-gap: 50px;
}
.menu_item{
    display: flex;
}
.menu_link{
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}
.menu_link:hover,
.menu_link:focus{
    color: var(--accent-color);
}
.contacts{
    display: flex;
}
.contacts_link{
    color: var(--add-color-1);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}
.contacts_link:first-child{
    margin-right: 50px;
}
.contacts_link:hover,
.contacts_link:focus{
    color: var(--accent-color);
}

/* Portfolio body */

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 94px 0 34px;
    column-gap: 8px;
}
.buttons_item:not(:last-child){
    column-gap: 8px;
}
.buttons_btn{
    color: var(--main-color);
    background-color: var(--add-color-3);
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    cursor: pointer;
}
.buttons_btn:hover,
.buttons_btn:focus{
    color: var(--add-color-2);
    background-color: var(--accent-color);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
}
.cards_item{
    border: 1px solid var(--border-color);
}
.cards_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    padding: 20px 0 4px 24px;
}
.cards_text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--add-color-1);
    font-weight: 400;
    padding: 0 0 20px 24px;
}

/* Common footer */

footer{
    background-color: var(--add-bg-color);
    font-weight: 400;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.f_logo{
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    color: var(--add-color-2);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px;
}
address{
    font-style: normal;
}
.address_contacts{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--add-color-4)
}
.address_contacts_adr{
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--add-color-2);
}
.address_contacts:hover, 
.address_contacts:focus{
    color: var(--accent-color);
}

/* Studio offer */

.hero{
   background-color: var(--add-bg-color); 
   text-align: center;
}
.hero_title{
    color: var(--add-color-2);
    width: 695px;
    font-size: 44px;
    line-height: 1.36;
    margin: 0 auto;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 200px 0 30px;
}

.hero_btn{
    color: var(--add-color-2);
    background-color: var(--accent-color);
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    font-weight: 700;
    border-radius: 4px;
    margin-bottom: 200px;
}

/* Advantages */
.advantages{
    padding: 94px 0;
}
.advantages_header{
    display: none;
}
.ad_list{
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}
.list_item{
    width: 270px;
}
.list_item:not(:last-child){
    column-gap: 30px;
}
.advantages_title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 10px;
}
.advantages_text{
   font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--add-color-1); 
    font-weight: 400;
}

/*  Work */

.work{
    text-align: center;
}
.work_img{
    display: flex;
    column-gap: 30px;
    padding-bottom: 94px;
}
.work_img_item:not(:last-child){
    column-gap: 30px;
}
.work_title{
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-weight: 700;
    padding: 0 0 50px 94px;
}
/* Our team */
.team{
    background-color: var(--add-color-3);
    text-align: center;
}
.team_header{
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-weight: 700;
    padding: 94px 0 50px;
}
.team_cards{
    display: flex;
    column-gap: 30px;
}
.team_item{
    background-color: var(--add-color-2);
    column-gap: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 94px;
}
.team_cards_title{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    padding: 30px 0 10px;
}
.team_cards_text{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--add-color-1);  
    padding: 0 0 10px;
}

